    /**************
        B L O G 
    ***************/

@import "partials/_setup.scss";
@import "partials/_variables.scss";
@import "partials/_mixins.scss";

.blog-image-mobile {
    display: none;
}

header.blog {
    background-image: url(../assets/blog-image-1.jpg);
	height: 75vh;
	background-size: cover;
	background-repeat: no-repeat;
    background-color: $camogreen;	
    h2 {
        @include header-h2;
        margin-top: 325px;
    }
}

.blog-main {
    position: relative;
    width: 65%;
    top: -150px;
    bottom: 0;
    left: 0;
    .blog-img {
        width: 100%;
        box-shadow: 23px 23px 0px -2px $mudgreen;
    }

}

.blog-main-text {
    padding: 10% 5% 3% 20%;
    border-right: 5px solid $mudgreen;
    border-bottom: 5px solid $mudgreen;
    margin-bottom: -15%;
    position: relative;
    left: 21px;
    h3 {
        margin: 0;
        @include header-h3-small;
    }
    p.date {
        @include p-text;
        font-weight: 400;
        letter-spacing: 1px;
        font-style: italic;
        span {
            font-weight: 700;
        }
    }
    p {
        @include p-text;
    }
}

main {
    position: relative;
    .blog-right {
        position: absolute;
        top: 110px;
        right: 0;
        width: 22%;
        .blog-image {
            position: absolute;
            top: 15px;
            right: 0;
            z-index: 2;
            width: 100%;
        }
    }
}

.blog-right-text {
    background-color: $mudgreen;
    width: 106%;
    position: absolute;
    top: 40px;
    left: -5.5%;
    padding: 121% 5% 5%;
    z-index: 1;
    h5 {
        margin: 0;
        @include header(30px, 1, 1);
        color: $iceblue;
    }
    p {
        @include p-text;
        font-size: 17px;
        padding-bottom: 5%;
    }
    ul li {
        color: $marigold;
        a {
            @include p-text;
            padding-left: 5px;
        }
    }
}

.comment-section {
    width: 65%;
    h3 {
        @include header-h3-big;
        color: $iceblue;
    }
}

.comments {
    display: flex;
    .comment-pic.one {
        width: 42%;
    }
    .comment-pic.two {
        width: 26%;
    }
}

.comment-text {
    padding-left: 5%;
    p.comment-date {
        margin: 0;
        @include p-text;
        color: $marigold;
    }
    p {
        @include p-text;
        margin: 10px 0 20%;
    }
    p.comment-two {
        margin-bottom: 5%;
    }

}


input[type=text],
input[type=email],
.comment-text-area {
    width: 47%;
    background-color: $camogreen;
    border: none;
    border-bottom: 2px solid $marigold;
    padding: 5% 5% 3%;
    @include placeholder;
}

.email {
    margin-left: 5%;
}
.comment-text-area {
    margin: 5% 0;
    width: 100%;
    border: 2px solid $marigold;
}

input[type=submit] {
    width: 100%;
    @include button;
    border: none;
    margin-bottom: 12%;
}

@media (max-width: 940px) {

    header.blog h2 {
        text-align: center;
        margin-top: 120px;
    }

    .blog-main {
        top: 340px;
        width: 95%;
    }

    main {
        .blog-right {
            top: -400px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 60%;
            text-align: center;

            .blog-image {
                display: none;
            }
        }
    }
    .blog-right-text {
        padding: 5%;
        border: 4px solid white;
        .blog-image-mobile {
            width: 35%;
            margin: 0 auto;
            border: 4px solid white;
            margin-bottom: 10px;
            display: block;
            img {
                display: block;
            }
        }
    }

    .comment-section {
        width: 100%;
        padding-top: 80%;
    }

}

@media (max-width: 768px) {

    .comment-section {
        padding-top: 80%;
        text-align: center;
        .comments {
            flex-direction: column;
            .comment-pic.one,
            .comment-pic.two {
                width: 40%;
                margin: 0 auto;
                padding-bottom: 5%;
            }
            .comment-pic.two {
                width: 35%;
            }
        }
    }

    .comment-text p {
        font-size: 17px;
    }

}

@media (max-width: 650px) {
    header.blog {
        height: 60vh;
        h2 {
            margin-top: 230px;
        }
    }

    .blog-main {
        top: -100px;
        width: 95%;
        p {
            font-size: 17px;
        }
    }

    main {
        .blog-right {
            display: none;
        }
    }

    .comment-section {
        padding-top: 0;
    }
}

