    /**************
        B L O G 
    ***************/

@import "partials/_setup.scss";
@import "partials/_variables.scss";
@import "partials/_mixins.scss";


header.blog {
    background-image: url(../assets/blog-image-1.jpg);
	height: 94vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $camogreen;	
}

.blog-main {
    position: relative;
    width: 65%;
    top: -300px;
    bottom: 0;
    left: 0;
    .blog-main-bg {
        width: 100%;
        height: 640px;
        background-color: $mudgreen;
        display: block;
        margin-top: 10%;
    }
    h2 {
        @include header-h2;
        margin: 0 0 5% 20%;
    }
    img {
        width: 98%;
        position: absolute;
    }

}

.blog-main-text {
    padding: 10% 5% 3% 20%;
    border-right: 6px solid $mudgreen;
    border-bottom: 6px solid $mudgreen;
    margin-bottom: -27%;
    h3 {
        margin: 0;
        @include header-h3-small;
    }
    p.date {
        @include p-text;
        font-weight: 400;
        letter-spacing: 1px;
        font-style: italic;
        span {
            font-weight: 700;
        }
    }
    p {
        @include p-text;
    }
}

main {
    position: relative;
    .blog-right {
        position: absolute;
        top: 110px;
        right: 0;
        width: 22%;
        .blog-image {
            position: absolute;
            top: 15px;
            right: 0;
            z-index: 2;
            width: 100%;
        }
    }
}

.blog-right-text {
    background-color: $mudgreen;
    width: 106%;
    position: absolute;
    top: 40px;
    left: -5.5%;
    padding: 121% 5% 5%;
    z-index: 1;
    h5 {
        margin: 0;
        @include header(30px, 1, 1);
        color: $iceblue;
    }
    p {
        @include p-text;
        font-size: 17px;
        padding-bottom: 5%;
    }
    ul li {
        color: $marigold;
        a {
            @include p-text;
            padding-left: 5px;
        }
    }
}

.comment-section {
    width: 65%;
    overflow: hidden;
    h3 {
        @include header-h3-big;
        color: $iceblue;
    }
}

.comments {
    display: flex;
    .comment-pic.one {
        width: 42%;
    }
    .comment-pic.two {
        width: 26%;
    }
}

.comment-text {
    padding-left: 5%;
    p.comment-date {
        margin: 0;
        @include p-text;
        color: $marigold;
    }
    p {
        @include p-text;
        margin: 10px 0 20%;
    }
    p.comment-two {
        margin-bottom: 5%;
    }

}


input[type=text],
input[type=email],
.comment-text-area {
    width: 47%;
    background-color: $camogreen;
    border: none;
    border-bottom: 2px solid $marigold;
    padding: 5% 5% 3%;
    @include placeholder;
}

.email {
    margin-left: 5%;
}
.comment-text-area {
    margin: 5% 0;
    width: 100%;
    border: 2px solid $marigold;;
}

input[type=submit] {
    width: 100%;
    @include button;
    border: none;
    margin-bottom: 15%;
}