@mixin header($font-size, $letter-spacing, $line-height) {
    font-family: 'Dokdo', cursive;
    letter-spacing: $letter-spacing;
    font-size: $font-size;
    line-height: $line-height;
    color: #ffc600;
}

@mixin header-h2 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 10.9px;
    font-size: 105px;
    line-height: 69.6px;
    color: #ffc600;
}

@mixin header-h3-big {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600;
}

@mixin header-h3-small {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.3px;
    font-size: 40px;
    line-height: 58px;
    color: #ffc600;
}

@mixin nav {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #fafffe;
    text-transform: uppercase;
}

@mixin p-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
}

@mixin button {
    font-size: 35px;
    color: #fafffe;
    padding: 1% 2%;
    background-color: #555f02;
    font-family: 'Dokdo', cursive;
}

@mixin placeholder {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 32px;
    letter-spacing: 2px;
    color: #fafffe;
    font-weight: light;
}

@mixin position($position, $top:null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}