@mixin header($font-size, $letter-spacing, $line-height) {
    font-family: 'Dokdo', cursive;
    letter-spacing: $letter-spacing;
    font-size: $font-size;
    line-height: $line-height;
    color: #ffc600;
}

@mixin nav {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #fafffe;
    text-transform: uppercase;
}

@mixin p-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
}

@mixin button {
    font-size: 35px;
    color: #fafffe;
    padding: 1% 2%;
    background-color: #555f02;
    font-family: 'Dokdo', cursive;
}