    /***************************
		M I N D N ' S O U L 
		( P R O J E C T  T W O )
	****************************/

@import "partials/_setup.scss";
@import "partials/_mixins.scss";
@import "partials/_blog.scss";
@import "partials/_contact.scss";
@import "partials/_variables.scss";


    /******************
		G E N E R A L
		S T Y L E S  
    *******************/

html {
	font-size: 125%;
}

body {
	font-family: 'Lato', sans-serif;
}

img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: 0.4s all ease;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	width: 80%;
}

.camo-green {
	background-color: $camogreen;
}

.charcoal {
	background-color: $charcoal;
}

i.fa-bars,
.right-text-mobile,
.blog-image-mobile {
	display: none;
}

.button a {
	@include button;
	&:hover {
		letter-spacing: 3px;
	}
}

header {
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $camogreen;
}



    /**  S K I P  L I N K S  **/ 

.skip-links {
   margin: 0;
   padding: 0;
   list-style-type: none;
   a {
	   @include position(absolute, $top: -2rem);
		background-color: $camogreen;
		color: $iceblue;
		z-index: 999;
		&:focus {
			top:0;
		}
   }
}


	/***********************
		I N D E X  P A G E    
	************************/


	/**  I N D E X  H E A D E R  
	S T Y L E S  **/ 

header.index {
    background-image: url(../assets/home-image-1.jpg);
	height: 90vh;
}

.header-title {
	width: 50%;
	padding-left: 3%;
	height: 50%;
	h1 {
		margin-top: 0;
		@include header(105px, 1, 0.65);
		span {
			padding-left: 15px;
			font-family: 'Lato', sans-serif;
			color: $iceblue;
			font-size: 40px;
			letter-spacing: 5px;
			font-weight: 400;
			line-height: 0.5;
		}
	}
}

.header-main {
	display: flex;
	@include position(absolute, $top: 300px, $bottom: -40px, $left: 0);
	img {
		width: 45%;
		z-index: 4;
		object-fit: contain;
	}
}

	/**  N A V I G A T I O N  
	S T Y L E S  **/ 

.header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 3%;
	.header-logo a {
		@include header(41.5px, 1px, 1);
	}
	.header-nav {
		width: 45%;
		padding-top: 1%;
	}
}

.header-nav ul {
	display: flex;
	margin: 0;
	justify-content: space-between;
	li {
		display: flex;
		list-style: none;
		a {
			@include nav;
			padding: 0 5px;
		}
	}
}

.header-nav a:hover {
	color: $marigold;
	transition: 0.4s all ease;
	letter-spacing: 2px;
}



	/**  N E W  A D V E N T U R E  
	S E C T I O N **/ 
	
.new-adventure {
	padding: 200px 0 150px;
	.new-adventure-container {
		display: flex;
		justify-content: space-between;
	}
}

.new-adventure-text {
	width: 65%;
	h3 {
		@include header-h3-big;
		margin: 0 0 20px;
	}
	p {
		@include p-text;
	}
}


.new-adventure-image {
	width: 25%;
	height: 25%;
	box-shadow: -23px 24px 0px -6px $mudgreen;
}


	/**  G A L L E R Y  (3 IMAGES) 
	S E C T I O N **/ 

.gallery-container {
	display: flex;
	padding: 10% 0;
	img {
		width: 33.33%;
		margin: 0 20px;
	}
}


	/**  F E A T U R E S  
	S E C T I O N **/ 

.wrapper.feature {
	display: flex;
	padding: 5% 0;
}
.features-container {
	width: 50%;
	.features {
		display: flex;
		padding: 3% 0;
		i {
			background-color: $mudgreen;
			color: $iceblue;
			padding: 10px;
			height: 45px;
			width: 45px;
			border-radius: 50%;
			vertical-align: middle;
			text-align: center;
			line-height: 25px;
			font-size: 22px;
		}
	}
}

.features-text {
	width: 90%;
	padding-left: 3%;
	h4 {
		@include header(40px, 4.3px, 45px);
		margin: 0;
	}
	p {
		@include p-text;
	}
}

	/**  P R O G R A M  /  L O C A T I O N
	S E C T I O N **/ 


.program-location-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	.left {
		display: flex;
		width: 42%;
		flex-direction: column;
		margin-top: -50px;
		img {
			box-shadow: 23px 23px 0px -6px $marigold;
			
		}
	}
	.right {
		display: flex;
		width: 42%;
		flex-direction: column;
		margin-bottom: -50px;
		img {
			box-shadow: -23px 23px 0px -6px $marigold;
		}
	}
}

.left-text {
	text-align: right;
	padding: 12% 0 8% 20%;
	h2 {
		@include header-h3-big;
		margin-bottom: 25px;
	}
	p {
		text-align: left;
		width: 90%;
		@include p-text;
		padding-bottom: 2%;
	}
}

.right-text {
	padding: 10% 20% 12% 0;
	h2 {
		@include header-h3-big;
	}
	p {
		@include p-text;
		padding-bottom: 2%;
	}
}


	/**  F R E E  T R I A L S 
	S E C T I O N **/ 

.free-trials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7% 10% 10%;
	h3 {
		@include header-h3-big;
		margin-bottom: 0;
	}
	p {
		@include p-text;
		margin-top: 10px;
	}
	.button {
		width: 100%;
		text-align: center;
	}
}

	/**  F O O T E R 
	S E C T I O N **/ 

footer {
	text-align: center;
	p {
		@include p-text;
		font-weight: 300;
		margin: 0;
		padding: 5px 0;
		a {
			color: $iceblue;
		}
		a:hover {
			color: red;
			letter-spacing: 3px;
		}
	}
}

    /******************
		M E D I A
		Q U E R I E S
	*******************/


	/**  1 5 0 0 p x  **/ 

@media (max-width: 1500px) {

	header.index {
		background-position: 50%;
    }

}

	/**  1 3 0 0 p x  **/ 

@media (max-width: 1300px) {

    header.index {
		background-position: 65%;
		height: 95vh;
    }

    .new-adventure-container {
        .new-adventure-text {
            width: 50%;
            p {
                font-size: 17px;
            }
        }
        img {
            width: 45%;
        }
    }
    .features p,
    .program-location-container p,
    .free-trials p {
        font-size: 17px;
	}
}

	/**  1 2 0 0 p x  **/ 

@media (max-width: 1200px) {

	.header-main {
		position: relative;
		img {
			width: 50%;
		}
	}
	.header-title h1 {
		font-size: 90px;
		span {
			font-size: 35px;
		}
	}
    .feature {
        flex-direction: column;
        display: flex;
    }
    .features-container {
        width: 100%;
        text-align: center;
    }
    .features {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        .features-text {
            margin-top: 3%;
        }
    }
}

	/**  9 4 0 p x  **/ 
    
@media (max-width: 940px) {

    .header-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header-logo {
            width: 100%;
            text-align: center;
        }
        .header-nav {
            width: 80%;
            ul li a {
                font-size: 17px;
            }
        }
	}
	.header-title {
		display: none;
	}

	.header-main {
		top: 100px;
		flex-direction: column;
		width: 100%;
		img {
			width: 50%;
			margin: 0 auto;
            border: 5px solid white;
		}
	}

    header.index {
		background-position: 80%;
		height: 80vh;
    }

	.new-adventure {
		padding: 100px 0;
		.new-adventure-container {
			align-items: center;
		}
	}
    .gallery-container {
        flex-wrap: wrap;
        img:nth-of-type(1) {
            width: 45%;
        }
        img:nth-of-type(2) {
            width: 45%;
            margin-right: 0;
        }

        img:nth-of-type(3) {
            width: 100%;
			margin-top: 5%;
			margin-right: 0;
        }
	}
	
}


	/**  7 6 8  p x  **/ 

@media (max-width: 768px) {

	header.index {
		height: 80vh;
	}

	i.fa-bars {
		color: $iceblue;
		@include position(absolute, $top: 3%, $right: 3%);
		font-size: 25px;
		display: block;
	}

	.header-main {
		img {
			width: 70%;
		}
	}

	.header-container {
		.header-logo a {
			font-size: 50px;
		}
		.header-nav {
			display: none;
		}
	}

	.new-adventure-text {
		h3, p, .button {
			text-align: center;
		}

	}

	.new-adventure-container {
		display: flex;
		flex-direction: column;
		width: 100%;
        .new-adventure-text {
			width: 100%;
			padding-bottom: 8%;
            p {
                font-size: 17px;
            }
        }
        img {
            width: 100%;
        }
    }

	.new-adventure-text {
		width: 100%;
		margin-bottom: 5%;
	}

	.new-adventure-image {
		width: 100%;
	}

	.gallery-container {
		img:nth-of-type(1),
		img:nth-of-type(2)
		 {
			width: 100%;
			margin: 20px 0;
		}
		img:nth-of-type(3) {
			margin-left: 0;
		}
	}

	.features-container:nth-of-type(2) {
		padding-bottom: 10%;
	}

	.program-location-container {
		flex-direction: column;
		.left {
			width: 85%;
		}
		.right {
			width: 85%;
			margin: 0;
			margin-left: auto;
		}
	}

	.left-text {
		text-align: center;
		padding-bottom: 10%;
		p {
			text-align: center;
			width: 100%;
		}
	}

	.right-text {
		display: none;
	}

	.right-text-mobile {
		width: 80%;
		display: block;
		margin:  0 auto;
		text-align: center;
		padding: 10% 0;
		h2 {
			@include header-h3-big;
		}
		p {
			@include p-text;
			font-size: 17px;
		}
	}

	.free-trials {
		p {
			text-align: center;
			padding-bottom: 5%;
		}
	}

}


	/**  4 8 0 p x  **/ 

@media (max-width: 480px) {

	header.index {
		background-position: 85%;
		height: 80vh;
	}

	.header-main {
		display: none;
	}

	.new-adventure {
		padding-top: 10%;
	}

}


	/**  3 2 0 p x  **/ 

@media (max-width: 320px) {

	header.index {
		height: 50vh;
	}

	.header-container {
		.header-logo a {
			font-size: 45px;
		}
	}

	i.fa-bars {
		top: 2%;
	}

	.free-trials {
		h3 {
			text-align: center;
		}
		.button a {
			font-size: 30px;
		}
	}



}