/***************************
		M I N D N ' S O U L 
		( P R O J E C T  T W O )
	****************************/
/***************************
        S E T U P  S T Y L E S
    ****************************/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-font-smoothing: antialiased; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/********************
        B L O G  P A G E
    *********************/
/***************************
        S E T U P  S T Y L E S
    ****************************/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-font-smoothing: antialiased; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/**  B L O G  H E A D E R  
	S T Y L E S  **/
header.blog {
  background-image: url(../assets/blog-image-1.jpg);
  height: 75vh; }

/**  B L O G  M A I N  
	S E C T I O N  **/
.blog-main {
  position: relative;
  top: -250px;
  bottom: 0;
  left: 0;
  width: 65%; }
  .blog-main .heading h2 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 10.9px;
    font-size: 105px;
    line-height: 69.6px;
    color: #ffc600;
    padding: 0 0 5% 15%;
    margin: 0; }
  .blog-main .blog-img {
    width: 100%;
    -webkit-box-shadow: 23px 23px 0px -2px #555f02;
    box-shadow: 23px 23px 0px -2px #555f02; }

.blog-main-text {
  padding: 10% 5% 3% 20%;
  border-right: 5px solid #555f02;
  border-bottom: 5px solid #555f02;
  margin-bottom: -15%;
  position: relative;
  left: 21px; }
  .blog-main-text h3 {
    margin: 0;
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.3px;
    font-size: 40px;
    line-height: 58px;
    color: #ffc600; }
  .blog-main-text p.date {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: italic; }
    .blog-main-text p.date span {
      font-weight: 700; }
  .blog-main-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe; }

/**  A S I D E  B L O G 
	S E C T I O N  **/
main {
  position: relative; }
  main .blog-right {
    position: absolute;
    top: 110px;
    right: 0;
    width: 22%; }
    main .blog-right .blog-image {
      position: absolute;
      top: 15px;
      right: 0;
      z-index: 2;
      width: 100%; }

.blog-right-text {
  background-color: #555f02;
  width: 106%;
  position: absolute;
  top: 40px;
  left: -5.5%;
  padding: 121% 5% 5%;
  z-index: 1; }
  .blog-right-text h5 {
    margin: 0;
    font-family: 'Dokdo', cursive;
    letter-spacing: 1;
    font-size: 30px;
    line-height: 1;
    color: #ffc600;
    color: #fafffe; }
  .blog-right-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    font-size: 17px;
    padding-bottom: 5%; }
  .blog-right-text ul li {
    color: #ffc600; }
    .blog-right-text ul li a {
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      letter-spacing: 2px;
      line-height: 32px;
      color: #fafffe;
      padding-left: 5px; }

.blog-right-text ul li a:hover {
  font-style: italic;
  letter-spacing: 3px; }

/**  C O M M E N T 
    S E C T I O N  **/
.comment-section {
  width: 65%; }
  .comment-section h3 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600;
    color: #fafffe; }

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .comments .comment-pic.one {
    width: 42%; }
  .comments .comment-pic.two {
    width: 26%; }

.comment-text {
  padding-left: 5%; }
  .comment-text p.comment-date {
    margin: 0;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    color: #ffc600; }
  .comment-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    margin: 10px 0 20%; }
  .comment-text p.comment-two {
    margin-bottom: 5%; }

/**  C O M M E N T  F O R M
    S E C T I O N  **/
input[type=text],
input[type=email],
.comment-text-area {
  width: 47%;
  background-color: #1e140e;
  border: none;
  border-bottom: 2px solid #ffc600;
  padding: 5% 5% 3%;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
  font-weight: light; }

.email {
  margin-left: 5%; }

.comment-text-area {
  margin: 5% 0;
  width: 100%;
  border: 2px solid #ffc600; }

input[type=submit] {
  width: 100%;
  font-size: 35px;
  color: #fafffe;
  padding: 1% 2%;
  background-color: #555f02;
  font-family: 'Dokdo', cursive;
  border: none;
  margin-bottom: 12%; }

/******************
		M E D I A
		Q U E R I E S
	*******************/
/**  9 4 0  p x  **/
@media (max-width: 940px) {
  .blog-main {
    top: 250px;
    width: 95%; }
    .blog-main .heading h2 {
      text-align: center;
      padding-left: 0; }
  main .blog-right {
    top: -500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 60%;
    text-align: center; }
    main .blog-right .blog-image {
      display: none; }
  .blog-right-text {
    padding: 5%;
    border: 4px solid #fafffe; }
    .blog-right-text .blog-image-mobile {
      width: 35%;
      margin: 0 auto;
      border: 4px solid #fafffe;
      margin-bottom: 10px;
      display: block; }
      .blog-right-text .blog-image-mobile img {
        display: block; }
  .comment-section {
    width: 100%;
    padding-top: 80%; } }

/**  7 6 8  p x  **/
@media (max-width: 768px) {
  .comment-section {
    padding-top: 80%;
    text-align: center; }
    .comment-section .comments {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .comment-section .comments .comment-pic.one,
      .comment-section .comments .comment-pic.two {
        width: 40%;
        margin: 0 auto;
        padding-bottom: 5%; }
      .comment-section .comments .comment-pic.two {
        width: 35%; }
  .comment-text p {
    font-size: 17px; } }

/**  6 5 0 p x  **/
@media (max-width: 650px) {
  header.blog {
    height: 60vh; }
  .blog-main {
    top: -275px;
    width: 95%; }
    .blog-main p {
      font-size: 17px; }
  main .blog-right {
    display: none; }
  .comment-section {
    padding-top: 0; } }

/****************************
        C O N T A C T  P A G E 
    *****************************/
/***************************
        S E T U P  S T Y L E S
    ****************************/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-font-smoothing: antialiased; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/**  C O N T A C T  P A G E 
        H E A D E R  
	    S T Y L E S  **/
header.contact {
  background-image: url(../assets/contact-image-1.jpg);
  height: 70vh; }

/**  C O N T A C T  F O R M 
    S E C T I O N  **/
.container {
  position: relative; }

.contact-main {
  overflow: hidden;
  width: 80%;
  padding: 0 3% 3% 0;
  position: absolute;
  top: -350px;
  left: -5%; }
  .contact-main h2 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 10.9px;
    font-size: 105px;
    line-height: 69.6px;
    color: #ffc600;
    padding-left: 5%;
    margin-bottom: 5%; }

.contact-form {
  background-color: #262725;
  padding: 5%;
  -webkit-box-shadow: 23px 23px 0px -6px #ffc600;
  box-shadow: 23px 23px 0px -6px #ffc600; }
  .contact-form .name,
  .contact-form .email,
  .contact-form .comment-text-area {
    background-color: #262725; }
  .contact-form input[type=submit] {
    margin-bottom: 0; }

/**  S O C I A L  I C O N S / I N F O
	S E C T I O N  **/
.contact-socials {
  text-align: left;
  padding: 12% 0 22%;
  width: 25%;
  z-index: 5;
  margin: 0 -7% 0 auto; }
  .contact-socials .social-icons {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .contact-socials .social-icons i {
      color: #ffc600;
      -webkit-transition: 0.4s all ease;
      -o-transition: 0.4s all ease;
      transition: 0.4s all ease; }
  .contact-socials p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe; }
  .contact-socials address {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    font-style: normal; }

i.fa-facebook-f:hover {
  color: #3b5998; }

i.fa-twitter:hover {
  color: #00aced; }

i.fa-whatsapp:hover {
  color: #25D366; }

i.fa-instagram:hover {
  color: #8a3ab9; }

/******************
		M E D I A
		Q U E R I E S
	*******************/
/**  1 2 0 0 p x  **/
@media (max-width: 1200px) {
  .contact-main h2 {
    font-size: 80px; } }

/**  9 7 0 p x  **/
@media (max-width: 970px) {
  header.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contact-main {
    width: 100%;
    left: 0; }
    .contact-main h2 {
      font-size: 80px;
      margin: 0 auto;
      width: 90%;
      text-align: center;
      margin-bottom: 10%; }
  .contact-socials {
    width: 100%;
    padding-top: 60%;
    text-align: center;
    margin: 0; }
    .contact-socials .social-icons {
      width: 20%;
      margin: 0 auto; } }

/**  6 0 0 p x  **/
@media (max-width: 600px) {
  input[type=text],
  input[type=email] {
    width: 100%; }
  .email {
    margin-left: 0%; }
  .contact-socials {
    padding-top: 100%; }
    .contact-socials .social-icons i {
      padding: 4px; } }

/**  5 0 0 p x  **/
@media (max-width: 500px) {
  .contact-socials {
    padding-top: 110%; }
    .contact-socials .social-icons {
      padding: 4px;
      width: 50%; } }

/**  5 0 0 p x  **/
@media (max-width: 380px) {
  header.content {
    height: 60vh; }
  .contact-socials {
    padding-top: 130%; } }

/******************
		G E N E R A L
		S T Y L E S  
    *******************/
html {
  font-size: 125%; }

body {
  font-family: 'Lato', sans-serif; }

img {
  width: 100%;
  height: auto;
  max-width: 100%; }

a {
  text-decoration: none;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%; }

.camo-green {
  background-color: #1e140e; }

.charcoal {
  background-color: #262725; }

i.fa-bars,
.right-text-mobile,
.blog-image-mobile {
  display: none; }

.button a {
  font-size: 35px;
  color: #fafffe;
  padding: 1% 2%;
  background-color: #555f02;
  font-family: 'Dokdo', cursive; }
  .button a:hover {
    letter-spacing: 3px; }

header {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1e140e; }

/**  S K I P  L I N K S  **/
.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .skip-links a {
    position: absolute;
    top: -2rem;
    background-color: #1e140e;
    color: #fafffe;
    z-index: 999; }
    .skip-links a:focus {
      top: 0; }

/***********************
		I N D E X  P A G E    
	************************/
/**  I N D E X  H E A D E R  
	S T Y L E S  **/
header.index {
  background-image: url(../assets/home-image-1.jpg);
  height: 90vh; }

.header-title {
  width: 50%;
  padding-left: 3%;
  height: 50%; }
  .header-title h1 {
    margin-top: 0;
    font-family: 'Dokdo', cursive;
    letter-spacing: 1;
    font-size: 105px;
    line-height: 0.65;
    color: #ffc600; }
    .header-title h1 span {
      padding-left: 15px;
      font-family: 'Lato', sans-serif;
      color: #fafffe;
      font-size: 40px;
      letter-spacing: 5px;
      font-weight: 400;
      line-height: 0.5; }

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 300px;
  bottom: -40px;
  left: 0; }
  .header-main img {
    width: 45%;
    z-index: 4;
    -o-object-fit: contain;
    object-fit: contain; }

/**  N A V I G A T I O N  
	S T Y L E S  **/
.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3%; }
  .header-container .header-logo a {
    font-family: 'Dokdo', cursive;
    letter-spacing: 1px;
    font-size: 41.5px;
    line-height: 1;
    color: #ffc600; }
  .header-container .header-nav {
    width: 45%;
    padding-top: 1%; }

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .header-nav ul li a {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 1px;
      color: #fafffe;
      text-transform: uppercase;
      padding: 0 5px; }

.header-nav a:hover {
  color: #ffc600;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  letter-spacing: 2px; }

/**  N E W  A D V E N T U R E  
	S E C T I O N **/
.new-adventure {
  padding: 200px 0 150px; }
  .new-adventure .new-adventure-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.new-adventure-text {
  width: 65%; }
  .new-adventure-text h3 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600;
    margin: 0 0 20px; }
  .new-adventure-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe; }

.new-adventure-image {
  width: 25%;
  height: 25%;
  -webkit-box-shadow: -23px 24px 0px -6px #555f02;
  box-shadow: -23px 24px 0px -6px #555f02; }

/**  G A L L E R Y  (3 IMAGES) 
	S E C T I O N **/
.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 0; }
  .gallery-container img {
    width: 33.33%;
    margin: 0 20px; }

/**  F E A T U R E S  
	S E C T I O N **/
.wrapper.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0; }

.features-container {
  width: 50%; }
  .features-container .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3% 0; }
    .features-container .features i {
      background-color: #555f02;
      color: #fafffe;
      padding: 10px;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      vertical-align: middle;
      text-align: center;
      line-height: 25px;
      font-size: 22px; }

.features-text {
  width: 90%;
  padding-left: 3%; }
  .features-text h4 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.3px;
    font-size: 40px;
    line-height: 45px;
    color: #ffc600;
    margin: 0; }
  .features-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe; }

/**  P R O G R A M  /  L O C A T I O N
	S E C T I O N **/
.program-location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  .program-location-container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 42%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -50px; }
    .program-location-container .left img {
      -webkit-box-shadow: 23px 23px 0px -6px #ffc600;
      box-shadow: 23px 23px 0px -6px #ffc600; }
  .program-location-container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 42%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: -50px; }
    .program-location-container .right img {
      -webkit-box-shadow: -23px 23px 0px -6px #ffc600;
      box-shadow: -23px 23px 0px -6px #ffc600; }

.left-text {
  text-align: right;
  padding: 12% 0 8% 20%; }
  .left-text h2 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600;
    margin-bottom: 25px; }
  .left-text p {
    text-align: left;
    width: 90%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    padding-bottom: 2%; }

.right-text {
  padding: 10% 20% 12% 0; }
  .right-text h2 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600; }
  .right-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    padding-bottom: 2%; }

/**  F R E E  T R I A L S 
	S E C T I O N **/
.free-trials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7% 10% 10%; }
  .free-trials h3 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600;
    margin-bottom: 0; }
  .free-trials p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    margin-top: 10px; }
  .free-trials .button {
    width: 100%;
    text-align: center; }

/**  F O O T E R 
	S E C T I O N **/
footer {
  text-align: center; }
  footer p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    font-weight: 300;
    margin: 0;
    padding: 5px 0; }
    footer p a {
      color: #fafffe; }
    footer p a:hover {
      color: red;
      letter-spacing: 3px; }

/******************
		M E D I A
		Q U E R I E S
	*******************/
/**  1 5 0 0 p x  **/
@media (max-width: 1500px) {
  header.index {
    background-position: 50%; } }

/**  1 3 0 0 p x  **/
@media (max-width: 1300px) {
  header.index {
    background-position: 65%;
    height: 95vh; }
  .new-adventure-container .new-adventure-text {
    width: 50%; }
    .new-adventure-container .new-adventure-text p {
      font-size: 17px; }
  .new-adventure-container img {
    width: 45%; }
  .features p,
  .program-location-container p,
  .free-trials p {
    font-size: 17px; } }

/**  1 2 0 0 p x  **/
@media (max-width: 1200px) {
  .header-main {
    position: relative; }
    .header-main img {
      width: 50%; }
  .header-title h1 {
    font-size: 90px; }
    .header-title h1 span {
      font-size: 35px; }
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .features-container {
    width: 100%;
    text-align: center; }
  .features {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
    .features .features-text {
      margin-top: 3%; } }

/**  9 4 0 p x  **/
@media (max-width: 940px) {
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-container .header-logo {
      width: 100%;
      text-align: center; }
    .header-container .header-nav {
      width: 80%; }
      .header-container .header-nav ul li a {
        font-size: 17px; }
  .header-title {
    display: none; }
  .header-main {
    top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .header-main img {
      width: 50%;
      margin: 0 auto;
      border: 5px solid white; }
  header.index {
    background-position: 80%;
    height: 80vh; }
  .new-adventure {
    padding: 100px 0; }
    .new-adventure .new-adventure-container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .gallery-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .gallery-container img:nth-of-type(1) {
      width: 45%; }
    .gallery-container img:nth-of-type(2) {
      width: 45%;
      margin-right: 0; }
    .gallery-container img:nth-of-type(3) {
      width: 100%;
      margin-top: 5%;
      margin-right: 0; } }

/**  7 6 8  p x  **/
@media (max-width: 768px) {
  header.index {
    height: 80vh; }
  i.fa-bars {
    color: #fafffe;
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 25px;
    display: block; }
  .header-main img {
    width: 70%; }
  .header-container .header-logo a {
    font-size: 50px; }
  .header-container .header-nav {
    display: none; }
  .new-adventure-text h3, .new-adventure-text p, .new-adventure-text .button {
    text-align: center; }
  .new-adventure-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .new-adventure-container .new-adventure-text {
      width: 100%;
      padding-bottom: 8%; }
      .new-adventure-container .new-adventure-text p {
        font-size: 17px; }
    .new-adventure-container img {
      width: 100%; }
  .new-adventure-text {
    width: 100%;
    margin-bottom: 5%; }
  .new-adventure-image {
    width: 100%; }
  .gallery-container img:nth-of-type(1),
  .gallery-container img:nth-of-type(2) {
    width: 100%;
    margin: 20px 0; }
  .gallery-container img:nth-of-type(3) {
    margin-left: 0; }
  .features-container:nth-of-type(2) {
    padding-bottom: 10%; }
  .program-location-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .program-location-container .left {
      width: 85%; }
    .program-location-container .right {
      width: 85%;
      margin: 0;
      margin-left: auto; }
  .left-text {
    text-align: center;
    padding-bottom: 10%; }
    .left-text p {
      text-align: center;
      width: 100%; }
  .right-text {
    display: none; }
  .right-text-mobile {
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10% 0; }
    .right-text-mobile h2 {
      font-family: 'Dokdo', cursive;
      letter-spacing: 4.9px;
      font-size: 45px;
      line-height: 58px;
      color: #ffc600; }
    .right-text-mobile p {
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      letter-spacing: 2px;
      line-height: 32px;
      color: #fafffe;
      font-size: 17px; }
  .free-trials p {
    text-align: center;
    padding-bottom: 5%; } }

/**  4 8 0 p x  **/
@media (max-width: 480px) {
  header.index {
    background-position: 85%;
    height: 80vh; }
  .header-main {
    display: none; }
  .new-adventure {
    padding-top: 10%; } }

/**  3 2 0 p x  **/
@media (max-width: 320px) {
  header.index {
    height: 50vh; }
  .header-container .header-logo a {
    font-size: 45px; }
  i.fa-bars {
    top: 2%; }
  .free-trials h3 {
    text-align: center; }
  .free-trials .button a {
    font-size: 30px; } }
