
/* 	S E T U P  I N F O

    ** FONTS **
Dokdo: Regular, Bold
Lato: Light, Regular, Bold

font-family: 'Dokdo', cursive;
font-family: 'Lato', sans-serif;

	** COLOURS **
Marigold: #ffc600;
Charcoal: #262725;
Camo Green: #1e140e;
Ice Blue: #fafffe;
Mud Green: #555f02;
*/

@import "partials/_setup.scss";
@import "partials/_mixins.scss";
@import "partials/_blog.scss";
@import "partials/_contact.scss";

html {
	font-size: 125%;
}

body {
	font-family: 'Lato', sans-serif;
}

img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	width: 80%;
}

.camo-green {
	background-color: #1e140e;
}

.charcoal {
	background-color: #262725;
}

    /******************
        H E A D E R   
    *******************/

header.index {
    background-image: url(../assets/home-image-1.jpg);
	height: 94vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #1e140e;	
}

.header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 3%;
	.header-logo a {
		@include header(41px, 1, 1)
	}
	.header-nav {
		width: 45%;
	}
}


.header-nav ul {
	display: flex;
	margin: 0;
	justify-content: space-between;
	li {
		display: flex;
		list-style: none;
		a {
			@include nav;
			padding: 0 5px;
		}
	}
}

.header-nav a:hover {
	color: #ffc600;
	transition: 0.4s all ease;
	letter-spacing: 2px;
}

.header-main {
	display: flex;
	position: absolute;
	top: 34vh;
	img {
		width: 43%;
		z-index: 4;
	}
}

.header-title {
	width: 50%;
	padding-left: 3%;
	height: 50%;
	h1 {
		margin-top: 0;
		span {
			padding-left: 15px;
			font-family: lato;
			color: #fafffe;
			font-size: 40px;
			letter-spacing: 5px;
			font-weight: 400;
			line-height: 0.5;
		}
		@include header(115px, 1, 0.65);
	}
}
    /******************
		S E C T I O N
			O N E 
    *******************/
.new-adventure {
	padding: 200px 0 150px;
	.new-adventure-container {
		display: flex;
		justify-content: space-between;
	}
}

.new-adventure-text {
	width: 65%;
	h3 {
		@include header(45px, 4.9px, 58px);
		margin: 0 0 20px;
	}
	p {
		@include p-text;
	}
}

.button a {
	@include button;
}

.new-adventure-image {
	width: 25%;
	height: 25%;
	box-shadow: -23px 24px 0px 3px rgba(85,95,2,1);
}

    /******************
		S E C T I O N
			T W O
    *******************/

.gallery-container {
	display: flex;
	padding: 10% 0;
	img {
		width: 33.33%;
		margin: 0 20px;
	}
}


    /******************
		S E C T I O N
		T H R E E 
    *******************/

.wrapper.feature {
	display: flex;
	padding: 5% 0;
}
.features-container{
	width: 50%;
	.features {
		display: flex;
		padding: 3% 0;
		i {
			background-color: #555f02;
			color: #fafffe;
			padding: 10px;
			height: 45px;
			width: 45px;
			border-radius: 50%;
			vertical-align: middle;
			text-align: center;
			line-height: 25px;
			font-size: 22px;
		}
	}
}

.features-text {
	width: 90%;
	padding-left: 3%;
	h4 {
		@include header(40px, 4.3px, 45px)
		margin: 0;
	}
	p {
		@include p-text;
	}
}

    /******************
		S E C T I O N
			F O U R
    *******************/



.program-location-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	.left {
		display: flex;
		width: 42%;
		display: flex;
		flex-direction: column;
		margin-top: -50px;
		img {
			box-shadow: 23px 23px 0px 3px rgba(255,198,0,1);
			
		}
	}
	.right {
		display: flex;
		width: 42%;
		flex-direction: column;
		margin-bottom: -50px;
		img {
			box-shadow: -23px 23px 0px 3px rgba(255,198,0,1);
		}
	}
}

.left-text {
	text-align: right;
	margin: 30px 0 0 20%;
	h2 {
		@include header(45px, 4.9px, 58px)
		margin-bottom: 25px;
	}
	p {
		text-align: left;
		width: 90%;
		@include p-text;
		padding-bottom: 2%;
	}
}

.right-text {
	margin: 0 20% 10% 0;
	h2 {
		@include header(45px, 4.9px, 58px);
	}
	p {
		@include p-text;
		padding-bottom: 2%;
	}
}


    /******************
		S E C T I O N
			F I V E
	*******************/


.free-trials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10%;
	h2 {
		@include header(45px, 4.9px, 58px);
		margin-bottom: 0;
	}
	p {
		@include p-text;
		margin-top: 10px;
	}
	.button {
		width: 100%;
		text-align: center;
	}
}

    /******************
		F O O T E R
	*******************/

footer {
	text-align: center;
	p {
		@include p-text;
		margin: 0;
		padding: 5px 0;
		a {
			color: #fafffe;
		}
	}
}