/* 	S E T U P  I N F O

    ** FONTS **
Dokdo: Regular, Bold
Lato: Light, Regular, Bold

font-family: 'Dokdo', cursive;
font-family: 'Lato', sans-serif;

	** COLOURS **
Marigold: #ffc600;
Charcoal: #262725;
Camo Green: #1e140e;
Ice Blue: #fafffe;
Mud Green: #555f02;
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

body {
  font-family: 'Lato', sans-serif; }

img {
  width: 100%;
  height: auto;
  max-width: 100%; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%; }

.camo-green {
  background-color: #1e140e; }

.charcoal {
  background-color: #262725; }

/******************
        H E A D E R   
    *******************/
header {
  background-image: url(../assets/home-image-1.jpg);
  height: 94vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1e140e; }

.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3%; }
  .header-container .header-logo a {
    font-family: 'Dokdo', cursive;
    letter-spacing: 1;
    font-size: 41px;
    line-height: 1;
    color: #ffc600; }
  .header-container .header-nav {
    width: 45%; }

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .header-nav ul li a {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 1px;
      color: #fafffe;
      text-transform: uppercase;
      padding: 0 5px; }

.header-nav a:hover {
  color: #ffc600;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  letter-spacing: 2px; }

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 34vh; }
  .header-main img {
    width: 43%; }

.header-title {
  width: 50%;
  padding-left: 3%;
  height: 50%; }
  .header-title h1 {
    margin-top: 0;
    font-family: 'Dokdo', cursive;
    letter-spacing: 1;
    font-size: 115px;
    line-height: 0.65;
    color: #ffc600; }
    .header-title h1 span {
      padding-left: 15px;
      font-family: lato;
      color: #fafffe;
      font-size: 40px;
      letter-spacing: 5px;
      font-weight: 400;
      line-height: 0.5; }

/******************
		S E C T I O N
			O N E 
    *******************/
.new-adventure {
  padding: 200px 0 150px; }
  .new-adventure .new-adventure-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.new-adventure-text {
  width: 65%; }
  .new-adventure-text h3 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600;
    margin: 0 0 20px; }
  .new-adventure-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe; }

.button a {
  font-size: 35px;
  color: #fafffe;
  padding: 1% 2%;
  background-color: #555f02;
  font-family: 'Dokdo', cursive; }

.new-adventure-image {
  width: 25%;
  height: 25%;
  -webkit-box-shadow: -23px 24px 0px 3px #555f02;
  box-shadow: -23px 24px 0px 3px #555f02; }

/******************
		S E C T I O N
			T W O
    *******************/
.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 0; }
  .gallery-container img {
    width: 33.33%;
    margin: 0 20px; }

/******************
		S E C T I O N
		T H R E E 
    *******************/
.wrapper.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0; }

.features-container {
  width: 50%; }
  .features-container .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3% 0; }
    .features-container .features i {
      background-color: #555f02;
      color: #fafffe;
      padding: 10px;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      vertical-align: middle;
      text-align: center;
      line-height: 25px;
      font-size: 22px; }

.features-text {
  width: 90%;
  padding-left: 3%; }
  .features-text h4 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.3px;
    font-size: 40px;
    line-height: 45px;
    color: #ffc600;
    margin: 0; }
  .features-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe; }

/******************
		S E C T I O N
			F O U R
    *******************/
.program-location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  .program-location-container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 42%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -50px; }
    .program-location-container .left img {
      -webkit-box-shadow: 23px 23px 0px 3px #ffc600;
      box-shadow: 23px 23px 0px 3px #ffc600; }
  .program-location-container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 42%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: -50px; }
    .program-location-container .right img {
      -webkit-box-shadow: -23px 23px 0px 3px #ffc600;
      box-shadow: -23px 23px 0px 3px #ffc600; }

.left-text {
  text-align: right;
  margin: 30px 0 0 20%; }
  .left-text h2 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600;
    margin-bottom: 25px; }
  .left-text p {
    text-align: left;
    width: 90%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    padding-bottom: 2%; }

.right-text {
  margin: 0 20% 10% 0; }
  .right-text h2 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600; }
  .right-text p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    padding-bottom: 2%; }

/******************
		S E C T I O N
			F I V E
	*******************/
.free-trials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10%; }
  .free-trials h2 {
    font-family: 'Dokdo', cursive;
    letter-spacing: 4.9px;
    font-size: 45px;
    line-height: 58px;
    color: #ffc600;
    margin-bottom: 0; }
  .free-trials p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    margin-top: 10px; }
  .free-trials .button {
    width: 100%;
    text-align: center; }

/******************
		F O O T E R
	*******************/
footer {
  text-align: center; }
  footer p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    color: #fafffe;
    margin: 0;
    padding: 5px 0; }
    footer p a {
      color: #fafffe; }
